---
local:
  - ~/Pictures/**
  - /usr/share/wallpapers/**
bing:
  - fr-FR
  - en-US
  - de-DE
  - ja-JP
general:
  # Desktop environment: gnome, xfce, mate, sway, feh, plasma
  desktop: gnome
  shared:
    path: /var/cache/last-wall
  sources:
    - bing
    - nasa
    - local
